@charset "utf-8";
/* CSS Document */




.related-post.text {
  box-sizing: border-box;
  margin: 20px 0;
  width: 100%;
}

.related-post.text .related-post-headline {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  padding: 0;
}


.related-post.text ul.post-list {
  margin: 0;
  padding: 0;
}

.related-post.text ul.post-list li {
  list-style: inside url("images/list-icon.png") none;
  margin: 0;
  padding: 3px 15px;
}

.related-post.text ul.post-list li a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.related-post.text ul.post-list li a:hover {

}

@media all and (max-width: 799px){
	
	

}
